
#logo{
    margin-top: 3px;
    margin-left: 2px;
    width: 40px;
    height: 30px;
}

body{
    font-family: sans-serif;
    margin: 0px;
	padding: 0px;
   background-color: aliceblue;
}

#topbar{
    margin:0px auto;
    color: white;
    background-image: url("a3.jpg");
    background-size: cover;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    padding: 30px;
    top:0px;
    width: auto;
}

#chat_window{
    display: none;
    width: 81%;
    height: 550px;
    border-left: solid 2px;
    border-top: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: gainsboro;
    margin-top: -565px;
    margin-left: 20%;
}

#btn_close{
    color: white;
    width: 12px;
    border: 1px solid;
    background-color: darkred;
    margin-left: 99%;
}

.name{
    font-size: 20px;
    margin-left: 10px;
    margin-top: -10px;
}

.avaialability{
    color: lightgreen;
    margin-left: 8px;
}

.user_name{
    width: auto;
    height: 60px;
    border: 1px solid;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    background: steelblue;
}

.rec_img{
    margin-left: 5px;
    margin-top: 25px;
    width: 50px;
    height: 55px;
    border-radius: 100%;
}

.received1{
    width: 180px;
    height: 60px;
    background-color: lightgray;
    margin-top: -52px;
    margin-left: 70px;
    border-radius: 10px;
}

.received2{
    width: 150px;
    height: 60px;
    background-color: lightgray;
    margin-top: -55px;
    margin-left: 70px;
    border-radius: 10px;
}

.rec_msg_text{
    font-size: 20px;
    padding: 16px;
}

.box_me{
    margin-top: 40px;
    margin-left: 94%;
    width: 55px;
    height: 55px;
    background-color: forestgreen;
    border-radius: 100%;
    opacity= 0.7;
}

.sent1{
    width: 130px;
    height: 60px;
    background-color: darkseagreen;
    margin-top: -56px;
    margin-left: 80%;
    border-radius: 10px;
     opacity= 1;
}

.sent2{
    width: 185px;
    height: 60px;
    background-color: darkseagreen;
    margin-top: -56px;
    margin-left: 75%;
    border-radius: 10px;
     opacity= 1;
}

.sent_msg_text{
    font-size: 20px;
    color: white;
    padding: 16px;
}

.text_field{
    margin-left: 0%;
    margin-top: 190px;
    width: 1000px;
    height: 50px;
    border: 1px solid;
    border-radius: 15px;
    background-image: url("a1.jpg");
    background-size: cover;
}

#hint{
    font-family: sans-serif;
    color: gray;
    margin-top: 12px;
    margin-left: 10px;
}

.send_btn{
    width: 80px;
    height: 50px;
    background-color:#0000ff;
    color: white;
    margin-top: -60px;
    margin-left: 92%;
    font-family: sans-serif;
    text-align: center;
    border-radius: 15px;
}

#label{
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    margin-left: 5px;
    margin-top: 10px;
    padding-top: 16px;
}

#users_window{
	width: 230px;
	height: 550px;
	border-left: solid 2px;
	border-top: solid 2px;
	border-right: solid 2px;
	border-bottom: solid 2px;
	margin-bottom: 10px;
	margin-top: 10px;
    margin-left: 0px;
	top:100px;
}

.user{
	width: auto;
	height: 50px;
	border-top: solid 2px;
	border-color: white;
	background: steelblue;
	color: white;
    margin: auto;
    text-align: center;
}

.user:hover{
    background-image: url("a1.jpg");
    background-size: cover;
    color: black;
}

.images{
    width: 40px;
    height: 40px;
    margin:0 auto;
    float:left;
    border-radius: 100%;
    padding: 1px;
    margin-top: 3  px;
}
#zohaib_chat{
    display: none;
    width: auto;
    height: 300px;
}

#zubair_chat{
    display: none;
    width: auto;
    height: 300px;
}

#zakir_chat{
    display: none;
    width: auto;
    height: 300px;
}

#preh_chat{
    display: none;
    width: auto;
    height: 300px;
}

#aqsa_chat{
    display: none;
    width: auto;
    height: 300px;
}

.text{
    width: auto;
    height: 50px;
    font-size: 14px;
    color: white;
    text-align: center;
    background: #2E5866;
    font-size: 18px;
    border-radius: 8px;
}
			
p{
    margin: 0;
    color: white;
    padding: 8px;
    font-family: quicksand;
}
p:hover{
    margin: 0;
    color: black;
    padding: 8px;
    font-family: quicksand;
}
#title{
    margin-top: -10px;
    margin-bottom: 60px;
    margin-left: 180px;
    width: 1000px;
    height: 2px;
    font-weight: bold;
    font-family: vivaldi;
}

#socialicons{
    margin-top: -90px;
    margin-left: 88%;
    width: 30px;
    height: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#bottomBar{
    margin:0px auto;
    color: green;
   background-image: url("a3.jpg");
    background-size: cover;
    text-align: center;
    font-size: 30px;
    padding: 4px;
    margin-top: 8px;
    width: 100%;
    text-align: center;
    padding-top: 4px;
        
}

#reservedtext{
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: -245px;
    width: 1000px;
    height: 15px;
    color: white;
}